[
    {
        "aws_acount_id":"<first account id>",
        "aws_policy_name":"<first account policy name>",
        "aws_access_key_id":"<first account access key>",
        "aws_secret_access_key":"<first account secret key>",
        "aws_session_token": "<first account session token>"
    },
    {
        "aws_acount_id":"<second account id>",
        "aws_policy_name":"<second account policy name>",
        "aws_access_key_id":"<second account access key>",
        "aws_secret_access_key":"<second account secret key>",
        "aws_session_token": "<second account session token>"
    },
    {
        "aws_acount_id":"<third account id>",
        "aws_policy_name":"<third account policy name>",
        "aws_access_key_id":"<third account access key>",
        "aws_secret_access_key":"<third account secret key>",
        "aws_session_token": "<third account session token>"
    }
    
]
